@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/600.css';
@import '~@fontsource/montserrat/700.css';

body { 
    font-family: "Montserrat", sans-serif; 
}
